@model IEnumerable<Ogrenci>
<table class="table">

    <a href="/Ogrenci/Create" class="btn btn-primary" >  Öğrenci Ekle  </a>

    <thead>

        <tr>
            <th>Öğrenci Id</th>
            <th>Öğrenci Ad</th>
            <th>Öğrenci Soyad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ogrenci in Model)
        {
            <tr>
                <td>@ogrenci.Id</td>
                <td>@ogrenci.OgrenciAd</td>
                <td>@ogrenci.OgrenciSoyad</td>
                <td>
                    <a asp-controller="Ogrenci"  asp-action="Edit" asp-route-id = "@ogrenci.Id"  class="btn btn-sm btn-primary">Detay and Edit</a>
                    <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id = "@ogrenci.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
